.divTeste {
  /* border: black 1px solid; */
  width: 250px;
  display: flex;
  justify-content: center;
  
}

.divTeste option {
  border: red 1px solid;
  background-color: aliceblue;
  color: black;
}

select {
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  color: black;
}


