.input-dropdown-container {
  display: flex;
  border: 2px solid #a4a5a6;
  border-radius: 6px;
  align-items: center;
  height: 60px;
}

.input-dropdown-container:focus-within {
  border: 2px solid #001e2b;
  transition: border-color 0.4s ease;
}

.btn {
  background-color: red;
}
.divInputDropDown {
  display: flex;
  flex-direction: row;
}

.input-dropdown-container input {
  border: none;
  padding: 10px;
  flex: 2;
  font-size: 14px;
  outline: none;
}
