.divNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: #eff2f1;

  height: 100%;
  width: 100%;
}

.tituloLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 126px;
  color: black;
}

.tituloLogo span {
  font-size: 40px;
  font-weight: bold;
}

.siteLogo {
  background-color: var(--primary-color);
  color: white;
  border-radius: 12px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

