.divNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  background-color: #eff2f1;

  height: 100%;
  width: 100%;
}

.tituloLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 126px;
  color: black;
}

.tituloLogo span {
  font-size: 40px;
  font-weight: bold;
}

.siteLogo {
  background-color: var(--primary-color);
  color: white;
  border-radius: 12px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selecaoConversao {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonsSelecao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 90vw;
}

.buttonsSelecao button {
  background-color: var(--primary-color);
  width: 100%;
  border: #3583c9 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 16px;
}
