.calculationArea {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: #979595 1px solid;
  border-radius: 30px;
  gap: 50px;
  background-color: white;
  padding: 60px;
}

.divMain {
  display: flex;
  gap: 25px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}

.divInput {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.divInput input {
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 30px;
}

.divInput button{
    background-color: white;
    outline: none;
    border: none;
}
