.OptionsHeaderButtons {
  display: flex;
  gap: 5px;
}

.ButtonClass{
  background-color: #eff2f1;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  border-radius: 10px;
}

.ButtonClass:hover {
  background-color: #b5b7ba;
  transition: background-color 0.5s ease;
}

.ButtonClass:focus {
  background-color: #b5b7ba;
  outline: none; 
}

.DropDownHeaderButton {
  position: absolute;
  top: 100%;
  z-index: 10;
}
